*{
    margin: 0;
    padding: 0;
}
#References{
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}
#text{
    margin-left: 10vw;
    margin-right: 10vw;
}
#text h1{
    text-align: center;
}
#text img{
width: 25vw;
height: auto;
}
.Generated_a{
    margin-right: 5px;
}
.p_sights{
    text-align: center;
}
.h_sights{
    text-align: center;
}
.bilder_sights{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#sights_body{
    background-color: red;
}
#text_sights img{
    width: 25vw;
    height: auto;
}
#text_sights{
    margin-left: 10vw;
    margin-right: 10vw;
}

